
@font-face {
	font-family: 'PTSansNarrow';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/PTSansNarrow/uyyryy3lteffjv9quesi4audwd0g3yzvptkezrp11hs.eot');    
	src: url('fonts/PTSansNarrow/uyyryy3lteffjv9quesi4audwd0g3yzvptkezrp11hs.eot') format('embedded-opentype'),
         url('fonts/PTSansNarrow/uyyryy3lteffjv9quesi4audwd0g3yzvptkezrp11hs.woff') format('woff'),
         url('fonts/PTSansNarrow/uyyryy3lteffjv9quesi4audwd0g3yzvptkezrp11hs.ttf') format('truetype'),
         url('fonts/PTSansNarrow/uyyryy3lteffjv9quesi4audwd0g3yzvptkezrp11hs.svg#PTSansNarrowRegular') format('svg');
}
@font-face {
	font-family: 'PTSansNarrow';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/PTSansNarrow/q_ptky3sc3ubribgtotaym8hadvpt2198xj0mrnwybw.eot');    
	src: url('fonts/PTSansNarrow/q_ptky3sc3ubribgtotaym8hadvpt2198xj0mrnwybw.eot') format('embedded-opentype'),
         url('fonts/PTSansNarrow/q_ptky3sc3ubribgtotaym8hadvpt2198xj0mrnwybw.woff') format('woff'),
         url('fonts/PTSansNarrow/q_ptky3sc3ubribgtotaym8hadvpt2198xj0mrnwybw.ttf') format('truetype'),
         url('fonts/PTSansNarrow/q_ptky3sc3ubribgtotaym8hadvpt2198xj0mrnwybw.svg#PTSansNarrowBold') format('svg');
}