@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato/LatoLight.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato/LatoRegular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato/LatoBold.woff) format('woff');
}


@font-face {
	font-family: 'Kelly Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Kelly Slab'), url(../fonts/KellySlab/gKqKZ8BbpAcxgFwZImcomxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
	font-family: 'PFDinTextPro-Regular';	
	src: local('PFDinTextPro-Regular'), url(../fonts/PFDinTextPro/1FF332_0_0.woff) format('woff');
}

@font-face {
	font-family: 'PFDinTextPro-Bold';
	src: local('PFDinTextPro-Bold'), url(../fonts/PFDinTextPro/1FF332_1_0.woff) format('woff');
}

@font-face {
	font-family: 'PFDinTextPro-Light';
	src: local('PFDinTextPro-Light'), url(../fonts/PFDinTextPro/1FF332_2_0.woff) format('woff');
}

@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local('Noticia Text'), url(../fonts/NoticiaText/wdyV6x3eKpdeUPQ7BJ5uUHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url(../fonts/Neucha/XE-CQUm9nMnSxYSbi8LNmQ.woff) format('woff');
}

@font-face
{
    font-family: 'a_FuturaRoundDemi';
    src: url('../fonts/a_FuturaRoundDemi/a_futurarounddemi.eot');
    src: url('../fonts/a_FuturaRoundDemi/a_futurarounddemi.eot?#iefix') format('embedded-opentype'),url('../fonts/a_FuturaRoundDemi/a_futurarounddemi.woff') format('woff'), url('../fonts/a_FuturaRoundDemi/a_futurarounddemi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'MyriadPro-Cond';
    src: url('../fonts/MyriadPro/myriadprocond.eot');
    src: url('../fonts/MyriadPro/myriadprocond.eot?#iefix') format('embedded-opentype'),    url('../fonts/MyriadPro/MyriadPro-Cond.woff') format('woff'),         url('../fonts/MyriadPro/MyriadPro-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),         url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),         url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'MYRIADPRO-BOLDCOND';
    src: url('../fonts/MyriadPro/MYRIADPRO-BOLDCOND.eot');
    src: url('../fonts/MyriadPro/MYRIADPRO-BOLDCOND.eot?#iefix') format('embedded-opentype'),         url('../fonts/MyriadPro/MYRIADPRO-BOLDCOND.woff') format('woff'),         url('../fonts/MyriadPro/MYRIADPRO-BOLDCOND.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family : 'PragmaticaCondC Normal';
    font-style: normal;
  	font-weight: normal;
    src: url('../fonts/PragmaticaCondC/PragmaticaCondC_Normal.eot')    ,url('../fonts/PragmaticaCondC/PragmaticaCondC_Normal.otf')    ,url('../fonts/PragmaticaCondC/PragmaticaCondC_Normal.woff') format('woff');    
}


@font-face {
    font-family: 'PF_Din Bold';
    src: url('../fonts/PF_Din/pfdintextcondpro-bold.eot');
    src: url('../fonts/PF_Din/pfdintextcondpro-bold.eot') format('embedded-opentype'),    url('../fonts/PF_Din/pfdintextcondpro-bold.woff') format('woff'),    url('../fonts/PF_Din/pfdintextcondpro-bold.ttf') format('truetype'), url('../fonts/PF_Din/pfdintextcondpro-bold.svg#PFDinTextCondProBold') format('svg');
}

@font-face {
    font-family: 'PF_Din Light';
    src: url('../fonts/PF_Din/pfdintextcondpro-light.eot');
    src: url('../fonts/PF_Din/pfdintextcondpro-light.eot') format('embedded-opentype'), url('../fonts/PF_Din/pfdintextcondpro-light.woff') format('woff'), url('../fonts/PF_Din/pfdintextcondpro-light.ttf') format('truetype'), url('../fonts/PF_Din/pfdintextcondpro-light.svg#PFDinTextCondProLight') format('svg');
}

@font-face {
    font-family: 'PF_Din Regular';
    src: url('../fonts/PF_Din/pfdintextcondpro-regular.eot');
    src: url('../fonts/PF_Din/pfdintextcondpro-regular.eot') format('embedded-opentype'), url('../fonts/PF_Din/pfdintextcondpro-regular.woff') format('woff'), url('../fonts/PF_Din/pfdintextcondpro-regular.ttf') format('truetype'), url('../fonts/PF_Din/pfdintextcondpro-regular.svg#PFDinTextCondProRegular') format('svg');
}