@font-face {
    font-family: 'VivaldiDCLRegular';
    src: url('fonts/VivaldiDCLRegular/vivaldidclregular.eot');
    src: url('fonts/VivaldiDCLRegular/vivaldidclregular.eot') format('embedded-opentype'),         url('fonts/VivaldiDCLRegular/vivaldidclregular.woff') format('woff'),         url('fonts/VivaldiDCLRegular/vivaldidclregular.ttf') format('truetype'),         url('fonts/VivaldiDCLRegular/vivaldidclregular.svg#VivaldiDCLRegular') format('svg');
}
