
@font-face {
	font-family: 'PTSerif';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/PTSerif/jDGxtjA4VEi4ZOksweAYZPesZW2xOQ-xsNqO47m55DA.eot');
	src: url('fonts/PTSerif/zjBCKJs0bE-LvM0teIV5VPesZW2xOQ-xsNqO47m55DA.woff') format('woff'), url('fonts/PTSerif/_3BPfr0mgHsBvbKFuzsF8_esZW2xOQ-xsNqO47m55DA.ttf') format('truetype'), url('fonts/PTSerif/jDGxtjA4VEi4ZOksweAYZPesZW2xOQ-xsNqO47m55DA.eot');
}
@font-face {
	font-family: 'PTSerif';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/PTSerif/QABk9IxT-LFTJ_dQzv7xpOVxPuP5V3WQ0I9CgXtSFxw.eot');
	src: url('fonts/PTSerif/QABk9IxT-LFTJ_dQzv7xpGOb2gHztoQeulij-1lvl-8.woff') format('woff'), url('fonts/PTSerif/QABk9IxT-LFTJ_dQzv7xpJp-63r6doWhTEbsfBIRJ7A.ttf') format('truetype'), url('fonts/PTSerif/QABk9IxT-LFTJ_dQzv7xpOVxPuP5V3WQ0I9CgXtSFxw.eot');
}
@font-face {
	font-family: 'PTSerif';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/PTSerif/3Nwg9VzlwLXPq3fNKwVRMFQlYEbsez9cZjKsNMjLOwM.eot');
	src: url('fonts/PTSerif/3Nwg9VzlwLXPq3fNKwVRMBsxEYwM7FgeyaSgU71cLG0.woff') format('woff'), url('fonts/PTSerif/3Nwg9VzlwLXPq3fNKwVRMC3USBnSvpkopQaUR-2r7iU.ttf') format('truetype'), url('fonts/PTSerif/3Nwg9VzlwLXPq3fNKwVRMFQlYEbsez9cZjKsNMjLOwM.eot');
}
@font-face {
	font-family: 'PTSerif';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/PTSerif/Foydq9xJp--nfYIx2TBz9TO82gR1VuuD-P8fXWENrs0.eot');
	src: url('fonts/PTSerif/Foydq9xJp--nfYIx2TBz9Qazkjc8o6z915lYPPIG3mo.woff') format('woff'), url('fonts/PTSerif/Foydq9xJp--nfYIx2TBz9TGiFLLa8QnHfpD_B0brrWo.ttf') format('truetype'), url('fonts/PTSerif/Foydq9xJp--nfYIx2TBz9TO82gR1VuuD-P8fXWENrs0.eot');
}