
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/OpenSans/DXI1ORHCpsQm3Vp6mXoaTYM1ygXM8I716iU3CHRQUAk.eot');
	src: url('fonts/OpenSans/DXI1ORHCpsQm3Vp6mXoaTYraN7vELC11_xip9Rz-hMs.woff') format('woff'), url('fonts/OpenSans/DXI1ORHCpsQm3Vp6mXoaTfOEPOIfcPv-fZ-WyMUtx48.ttf') format('truetype'), url('fonts/OpenSans/DXI1ORHCpsQm3Vp6mXoaTYM1ygXM8I716iU3CHRQUAk.eot');
}
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/OpenSans/RjgO7rYTmqiVp7vzi-Q5UfY6323mHUZFJMgTvxaG2iE.eot');
	src: url('fonts/OpenSans/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff') format('woff'), url('fonts/OpenSans/RjgO7rYTmqiVp7vzi-Q5UaCWcynf_cDxXwCLxiixG1c.ttf') format('truetype'), url('fonts/OpenSans/RjgO7rYTmqiVp7vzi-Q5UfY6323mHUZFJMgTvxaG2iE.eot');
}
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/OpenSans/MTP_ySUJH_bn48VBG8sNSoM1ygXM8I716iU3CHRQUAk.eot');
	src: url('fonts/OpenSans/MTP_ySUJH_bn48VBG8sNSoraN7vELC11_xip9Rz-hMs.woff') format('woff'), url('fonts/OpenSans/MTP_ySUJH_bn48VBG8sNSvOEPOIfcPv-fZ-WyMUtx48.ttf') format('truetype'), url('fonts/OpenSans/MTP_ySUJH_bn48VBG8sNSoM1ygXM8I716iU3CHRQUAk.eot');
}
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/OpenSans/k3k702ZOKiLJc3WVjuplzIM1ygXM8I716iU3CHRQUAk.eot');
	src: url('fonts/OpenSans/k3k702ZOKiLJc3WVjuplzIraN7vELC11_xip9Rz-hMs.woff') format('woff'), url('fonts/OpenSans/k3k702ZOKiLJc3WVjuplzPOEPOIfcPv-fZ-WyMUtx48.ttf') format('truetype'), url('fonts/OpenSans/k3k702ZOKiLJc3WVjuplzIM1ygXM8I716iU3CHRQUAk.eot');
}
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 800;
	src: url('fonts/OpenSans/EInbV5DfGHOiMmvb1Xr-hoM1ygXM8I716iU3CHRQUAk.eot');
	src: url('fonts/OpenSans/EInbV5DfGHOiMmvb1Xr-horaN7vELC11_xip9Rz-hMs.woff') format('woff'), url('fonts/OpenSans/EInbV5DfGHOiMmvb1Xr-hvOEPOIfcPv-fZ-WyMUtx48.ttf') format('truetype'), url('fonts/OpenSans/EInbV5DfGHOiMmvb1Xr-hoM1ygXM8I716iU3CHRQUAk.eot');
}
@font-face {
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: 300;
	src: url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxn2Z5IxmpJ35G5OZ8lgPLV4.eot');
	src: url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxq6JHp92iES8exGTOIyTn1A.woff') format('woff'), url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxkKHlodXgisC9y12ja1Qqzw.ttf') format('truetype'), url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxn2Z5IxmpJ35G5OZ8lgPLV4.eot');
}
@font-face {
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/OpenSans/xjAJXh38I15wypJXxuGMBuVxPuP5V3WQ0I9CgXtSFxw.eot');
	src: url('fonts/OpenSans/xjAJXh38I15wypJXxuGMBmOb2gHztoQeulij-1lvl-8.woff') format('woff'), url('fonts/OpenSans/xjAJXh38I15wypJXxuGMBpp-63r6doWhTEbsfBIRJ7A.ttf') format('truetype'), url('fonts/OpenSans/xjAJXh38I15wypJXxuGMBuVxPuP5V3WQ0I9CgXtSFxw.eot');
}
@font-face {
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: 600;
	src: url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxifSEqADcpPjbzTDX6sF-Iw.eot');
	src: url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxl1DIE4XHZKVVbKkAUmpPQQ.woff') format('woff'), url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxq-J15ovKwtyXSGSllVf0Y8.ttf') format('truetype'), url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxifSEqADcpPjbzTDX6sF-Iw.eot');
}
@font-face {
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxoXT6y0KWRkBjk3TRgVcsuA.eot');
	src: url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxlRROVH9Vvc8xHnAGvvgPQc.woff') format('woff'), url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxvESSnubz54PGTGNFQfuRjc.ttf') format('truetype'), url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxoXT6y0KWRkBjk3TRgVcsuA.eot');
}
@font-face {
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: 800;
	src: url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxv2X3zKtER4pprat9sHVqpE.eot');
	src: url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxsm6z33g0Z9rhmCMv9JmtIA.woff') format('woff'), url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxtONiand8nA-NYovvvDqHVE.ttf') format('truetype'), url('fonts/OpenSans/PRmiXeptR36kaC0GEAetxv2X3zKtER4pprat9sHVqpE.eot');
}