@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Neucha/9aWboM5Oy8wnb9_q7ytsUA.eot);
  src: local('Neucha'),   url(../fonts/Neucha/9aWboM5Oy8wnb9_q7ytsUA.eot) format('embedded-opentype'),   url(../fonts/Neucha/XE-CQUm9nMnSxYSbi8LNmQ.woff) format('woff');
}
