@font-face {
    font-family: 'AlexandraScriptRegular';
    src: url('fonts/AlexandraScript/alexandrascript.eot');
    src: url('fonts/AlexandraScript/alexandrascript.eot') format('embedded-opentype'),         url('fonts/AlexandraScript/alexandrascript.woff') format('woff'),         url('fonts/AlexandraScript/alexandrascript.ttf') format('truetype'),         url('fonts/AlexandraScript/alexandrascript.svg#AlexandraScriptRegular') format('svg');
}
