@font-face {
  font-family: 'NinaCTT';
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/NinaCTT/nina.eot');
  src: local('NinaCTT'),   url('../fonts/NinaCTT/nina.eot') format('embedded-opentype'),   url(../fonts/NinaCTT/nina.woff) format('woff');  
}