@font-face {
    font-family: 'pt_sansbold';
    src: url('fonts/PTSans/PTS75F-webfont.eot');
    src: url('fonts/PTSans/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),         url('fonts/PTSans/PTS75F-webfont.woff') format('woff'),         url('fonts/PTSans/PTS75F-webfont.ttf') format('truetype'),         url('fonts/PTSans/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('fonts/PTSans/PTS76F-webfont.eot');
    src: url('fonts/PTSans/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),         url('fonts/PTSans/PTS76F-webfont.woff') format('woff'),         url('fonts/PTSans/PTS76F-webfont.ttf') format('truetype'),         url('fonts/PTSans/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansitalic';
    src: url('fonts/PTSans/PTS56F-webfont.eot');
    src: url('fonts/PTSans/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),         url('fonts/PTSans/PTS56F-webfont.woff') format('woff'),         url('fonts/PTSans/PTS56F-webfont.ttf') format('truetype'),         url('fonts/PTSans/PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('fonts/PTSans/PTS55F-webfont.eot');
    src: url('fonts/PTSans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),         url('fonts/PTSans/PTS55F-webfont.woff') format('woff'),         url('fonts/PTSans/PTS55F-webfont.ttf') format('truetype'),         url('fonts/PTSans/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

